@import "~normalize.css/normalize.css";

//  全局样式
html{
  box-sizing: border-box;
  height: 100%;
  font-size: 12px;
}
body{
  box-sizing: border-box;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  -webkit-font-smoothing:antialiased;
}

p,h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
  line-height: 1;
}

#app{
  height: 100%;
}

.page{
  padding: 10px;
}

// fix css style bug in open el-dialog
.el-popup-parent--hidden {
  .fixed-header {
    padding-right: 15px;
  }
}



@import "./layout";
